body {
   font:12px Lucida Grande, Arial, "Lucida Grande", "Gill Sans", Futura, Verdana,Helvetica;
   color:#777777;
   background:#ffffff;
   padding:0px;
   margin:0px;
}

body.mceContentBody {
   padding:2px;
   padding-top:0px;
   background-color:white;
   color:black;
}

a {
   color:#666666;
}

a:hover {
   color:#3399cc;
}

pre {
   font-family: "Courier New", Courier;
}

td.xxxxx {
   font-family: Verdana,Arial,Helvetica,Tahoma,"Lucida Grande","Gill Sans",Futura;
   font-size:1em;
}


select {
   font-family:Arial,Helvetica,Tahoma,"Lucida Grande","Gill Sans",Futura;
   font-size:12px;
   font-weight:normal;
   color:#000000;
   background-color:#ffffff;
   border:1px solid #bbbbbb;
   vertical-align:middle;
} 

input {
   color:#000000;
   font-family:"Lucida Grande", Tahoma, Arial,Helvetica,Futura;
   font-weight:normal;
   font-size:12px;
   border:1px solid #bbbbbb;
   vertical-align:middle;
   padding:2px;
}

input,
textarea,
select { background-color:#f1f1f1; }

input:focus,
textarea:focus,
select:focus { background-color:#ffffff; }

input[type=button],
input[type=submit],
input[type=reset],
input.bt {
   font-size:11px;
   font-family:"Lucida Grande", Verdana,Arial,Helvetica,Tahoma,"Gill Sans",Futura;
   background-color:#dddddd;
   cursor:pointer;
   padding:1px;
   padding-left:6px;
   padding-right:6px;
   color:#333333;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input.bt:hover {background-color:#bbbbbb;}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
input.bt:active {background-color:#eeeeee;}

input.ckb, input.rdb {
   background-color:transparent;
}

input[type=text],input[type=file],
input[type=password] {font-size:12px;}

input[type=text][disabled="1"] {background-color:#eeeeee;color:#555555;}

input[type=button][disabled="1"] {background-color:#dedede;color:#888888;}

input[type=button].xaction {
   background-color:#000066;
   color:#eeeeff;
   border:1px solid #000;
}

input[type=button].xaction:hover {
   background-color:#444499;
}

input[type=button][disabled="1"].xaction {background-color:#ddd;color:#888;border:1px solid #ccc}

input[type=text].searchBox{
   background-image:url('../../../images/kacapembesar.png');
   background-repeat:no-repeat;
   background-position:center left;
   padding-left:20px;
   -moz-border-radius:10px;
}

textarea {
   color:#000000;
   font-family:"Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   font-weight:normal;
   font-size:12px;
   border:1px solid #bbbbbb;
   padding:2px;
}

img {
   border:none;
}

.frm {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   margin-bottom:0px;
}

.block {
   border-color:#000000;
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   border-style: solid;
   padding:0px;
   margin:8px;
}

.blocktitle {
   border-color:#6666dd;
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   border-style: solid;
   font-weight:normal;
   color:#ffffff;
}

.blockcommentinfo {
   border-color:#00ffff;
   border-top-width:1px;
   border-right-width:1px;
   border-left-width:1px;
   border-bottom-width:1px;
   border-style: solid;
/*   background-color:#333377; */
}

.blockcommentwarn {
   border-color:#aa0000;
   border-top-width:1px;
   border-right-width:1px;
   border-left-width:1px;
   border-bottom-width:1px;
   border-style: solid;
   background-color:#333377;
}

.blockmessageinfo {
   border-color:#00dddd;
   border-top-width:1px;
   border-right-width:1px;
   border-left-width:1px;
   border-bottom-width:1px;
   border-style: solid;
   background-color:#ddddee;
   padding:4px;
}

.blockmessagewarn {
   border-color:#ff0000;
   border-top-width:1px;
   border-right-width:1px;
   border-left-width:1px;
   border-bottom-width:1px;
   border-style: solid;
   background-color:#441111;
}

.ft {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ccccff;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: italic;
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   border-color:#888888;
}


.bt:hover {
   background-color: #bbb;
   border:2px groove #bbb;
}

.bt:active {
   background-color: #eeeeee;
   border:2px groove #cccccc;
}

.ca {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffff;
   color:#000000;
}

.in, .in A, .in A:hover {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffff;
   color:#000000;
}

.cm {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaadd;
   color:#3333ee;
   background-color: #ffffff;
}



.tbl1 {
    background-color: #111199;
}

.v {
    background-color: #444499;
}

.t1b2 {
    background-color: #ffffff;
}

.fg1 {
    color: #000000;
}

.fg2 {
    color: #8888cc;
}

.myform {
   margin:0px;
   padding:0px;
}

.simpleform {
   margin:0px;
   padding:0px;
}



.tbl0x {
    background-color: #ffffff;
}

.tbl0 {
   border:0px;
   border-left:1px solid #dddddd;
}

.tdh0 {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #eeeeee;
   color:#555555;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
   border:0px solid #aaaaaa;
   padding:4px;
}

.tdf0 {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #eeeeee;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaaa;
}

.td0, .td0 A, .td0 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#999;
   background-color: #ffffff;
   color:#000000;
}

.td0highlight1, .td0highlight1 A, .td0highlight1 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #dedede;
   color:#555;
}

.td0highlight2, .td0highlight2 A, .td0highlight2 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #d0ffff;
   color:#000000;
}

.td0highlight3, .td0highlight3 A, .td0highlight3 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #a2a2e9;
   color:#000000;
}

.td0highlight4, .td0highlight4 A, .td0highlight4 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffaa;
   color:#000000;
}

.tdh0highlight4, .tdh0highlight4 A, .tdh0highlight4 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffaa;
   color:#000000;
}

.cm0 {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaadd;
   color:#0000bb;
   background-color: #ffffff;
   font-weight: normal;
}



.tbl1x {
    background-color: #ffffff;
    border:1px solid grey;
}

.tbl1 {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   margin-bottom:0px;
}

.tdh1, .tdh1 A, .tdh1 A:hover {
   font-family: "Lucida Grande", Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #2b3357;
   color:#ffffff;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
}

.tdh1 A, .tdh1 A:hover {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
}

.tdf1 {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ffe7ba;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
}
.cm1 {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   color:#000000;
   background-color: #fffff0;
}

.tbl1a {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:0px;
   margin-bottom:0px;
}

.tdh1a, .tdh1a A, .tdh1a A:hover {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ffe7ba;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: italic;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
}

.tdh1a A, .tdh1a A:hover {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: normal;
}

.tdf1a {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ffe7ba;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: italic;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
}

.td1a, .td1a A, .td1a A:hover {
   border-top-width:0px;
   border-right-width:0px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #ffffff;
   color:#000000;
}

.td1highlight1a, .td1highlight1a A, .td1highlight1a A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #ffe0e0;
   color:#000000;
}


.td1, .td1 A, .td1 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #ffffff;
   color:#000000;
}

.td1highlight1, .td1highlight1 A, .td1highlight1 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #ffe0e0;
   color:#000000;
}


.td1highlight1x, .td1highlight1x A, .td1highlight1x A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #ffe7ba;
   color:#000000;
}

.td1highlight2, .td1highlight2 A, .td1highlight2 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #aadddd;
   color:#000000;
}



.td1highlight9, .td1highlight9 A, .td1highlight9 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   background-color: #6666aa;
   color:#eeeeee;
}




.cm1a {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#cdba96;
   color:#000000;
   background-color: #fffff0;
}

.whoami {
   color:#000000;
   background-color: #bbbbee;
   border:1px outset #8888aa;
}

.whoami A, .whoami A:hover {
   color:#000000;
}

.menustatictitle {
   background-color: #000000;
}
.menustatic {
   background-color: #888899;
}
.menustaticsub {
   background-color: #777788;
}

.tds0, .tds0 A, .tds0 A:hover {
   background-color: transparent;
   color:#000000;
}

.sr, .srs, .sr0, .sr1 { width : 100%; float : left; font-family : Arial,Helvetica; font-size : 11px; padding : 1px 0 0 0; }
.sr { background-color : #fff; color : #000; border-bottom : #fff solid 1px; border-top : #fff solid 1px; }
.sr0 { background-color : #eef0ff; color : #000; border-bottom : #eef0ff solid 1px; border-top : #eef0ff solid 1px; }
.sr1 { background-color : #ddf0ff; color : #000; border-bottom : #ddf0ff solid 1px; border-top : #ddf0ff solid 1px; }
.srs { background-color : #5666b3; color : #fff; cursor : pointer; border-top:1px solid #5666b3;  border-bottom:1px solid #5666b3;}
.sr .src, .sr0 .src, .sr1 .src { color : #666666; }
.srss .src { color : #555555;}
.srt { float : left; font-size : 10px; margin-left : 4px; font-family : Arial,Helvetica; font-size : 11px;}
.src { float : right; font-size : 10px; margin-right : 3px; font-family: Arial,Helvetica; font-size : 11px;}
.subres { position:absolute;left:0px;top:0px;display:none;border:1px solid #666666;border-top:0px;overflow:hidden; }
.rescount { font-family: Arial,Helvetica, "Lucida Grande", "Gill Sans", Futura,Verdana;font-weight:normal; position:absolute;left:0px;top:0px;display:none;border:1px solid #555555;background-color:#dddddd;color:black;text-align:center; }

.tbl5x {
    background-color: #ffffff;
}


.tbl5 {
   border:0px solid #5555aa;
   margin-bottom:0px;
}

.tdh5, .tdh5 A {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ccccff;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: italic;
   border:2px outset #ccccff;
   padding:3px;
}

.tdf5 {
   font-family: "Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;
   background-color: #ccccff;
   color:#000000;
   font-size:12px;
   font-weight: normal;
   font-style: italic;
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
}

.td5, .td5 A, .td5 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #aaaaee;
   color:#000000;
}

.td5highlight1, .td5highlight1 A, .td5highlight1 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #dedede;
   color:#000000;
}

.td5highlight2, .td5highlight2 A, .td5highlight2 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #d0ffff;
   color:#000000;
}

.td5highlight3, .td5highlight3 A, .td5highlight3 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #a2a2e9;
   color:#000000;
}

.td5highlight4, .td5highlight4 A, .td5highlight4 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffaa;
   color:#000000;
}

.tdh5highlight4, .tdh5highlight4 A, .tdh5highlight4 A:hover {
   border-top-width:0px;
   border-right-width:1px;
   border-left-width:0px;
   border-bottom-width:1px;
   border-color:#aaaaff;
   background-color: #ffffaa;
   color:#000000;
}

table.cal,
table.cal td.calx,
table.cal td.cdate,
table.cal td.cdate_hilite,
table.cal td.calarrow,
table.cal td.lmon,
table.cal td.cweek,
div.calselmonth,
table.cal span.sync_on,
table.cal span.sync_off,
table.cal input.inputcal {font-family: "Lucida Grande", Arial,Verdana, Helvetica;font-weight:normal;font-size:10px;padding:1px;border:0px;}
table.cal {border:0px solid #ddd;padding:0px;} 
table.cal td.calx {color:black;}
table.cal td.cdate        {color:#000000;border-left:1px solid #dddddd;cursor:pointer;border-bottom:0px solid #dddddd;width:20px;text-align:center;} 
table.cal td.cdate_hilite {background-color:#dddddd;font-weight:normal;color:#0000ff;border:1px solid;border-color:#999999 #cccccc #cccccc #999999;padding:0px;width:20px;text-align:center;cursor:pointer; } 
table.cal td.cdate_hilite:hover, table.cal td.cdate:hover {background-color:#5555ff;color:#ffffff;}
table.cal td.calarrow {padding-left:3px;padding-right:3px;} 
table.cal td.calarrow:hover {color:#ffffff;} 
table.cal td.lmon {color:#aaaaaa;border-left:1px solid #dddddd;cursor:default;border-bottom:0px solid #999999;text-align:center;} 
table.cal td.cweek {text-align:center;background-color:#777777;color:#ffffff;cursor:default;border-bottom:1px solid black;border-top:1px solid black;}
div.calselmonth {cursor:pointer;color:black;padding:1px;padding-left:7px;}
div.calselmonth:hover {background-color:#9999ff;}
table.cal span.sync_on, table.cal span.sync_off {font-size:10px;padding:0px;padding-left:2px;padding-right:2px;cursor:pointer;font-weight:normal;}
table.cal span.sync_on {color:black;}
table.cal span.sync_off {color:#999999;text-decoration:line-through;}
table.cal span.sync_on:hover, table.cal span.sync_off:hover { background-color:blue;color:white; }
table.cal input.inputcal, table.cal div.inputcal {
   padding:1px;
   color:#000000;
   font-weight:normal;
   background-color:#ffffcc;
   border:1px solid #777777;
   text-align:center;
}


.popup {POSITION: absolute; left:0px;top:0px; VISIBILITY: hidden; BACKGROUND-COLOR: grey; BORDER:2px outset grey; PADDING: 2px;width:100px;text-align:center;z-index: 10 }
.combox {border:0px;margin:4px;padding-bottom:5px;}
.combox_in {border:0px;padding-bottom:0px;}
.combox_edit {border:0px;padding-bottom:0px;}
.ctitle {padding:2px;text-align:center;height:16px;font-weight:normal;background-color:#99cccc;border-top:1px solid #666;cursor:pointer;}
.ctitle_in {padding:2px;text-align:center;font-weight:normal;background-color:#aaaaee;margin-bottom:5px;cursor:default;}
.xh{background-color:#ccccee;border:1px solid blue;padding:2px;height:16px;}
.addcom{position:absolute;left:0px;top:0px;visibility:hidden;background-color:#aaaaaa;border:1px outset;padding:1px;width:200px;height:auto;text-align:center;z-index:10;opacity:1;}
.q_sr, .q_srs { width : 100%; float : left; font-family : Arial, Verdana; font-size : 10px; padding : 1px 0 0 0; }
.q_sr { background-color : #fff; color : #000; border-bottom : #fff solid 1px; border-top : #fff solid 1px; }
.q_srs { background-color : #dddddd; color : #000; cursor : move; border-top : #777 solid 1px;  border-bottom : #777 solid 1px; }
.q_sr .q_src { color : #008000; }
.q_srs .q_src { color : #008000; }
.q_srt { float : left; font-size : 10px; margin-left : 4px; }
.q_src { float : right; font-size : 10px; margin-right : 3px; padding-top : 2px; }

.trayspan, .traymenu {background-color:#babaee;}
.trayspan {cursor:pointer;padding:3px;margin:0px;margin-bottom:3px;border:0px;border-bottom:1px solid #555555;z-index:400;height:5px;}
.traymenu {padding:2px;border:1px solid #555555;border-top:1px dotted #666666;position:absolute;top:0px;left:0px;z-index:300;visibility:hidden;}

.traymenuitem {color:black;padding:2px;padding-left:10px;padding-right:10px;cursor:pointer;}
.traymenuitem:hover {color:#ffffff;background-color:#3333aa;}

table.traytbl>tbody>tr>td {border:1px solid #555555;padding:0px;}
table.traytbl_in>tbody>tr>td {border:0px;padding:2px;}
table.traytbl_in {border-bottom:0px solid #999999;margin-bottom:6px;}
table.traytbl {margin-left:5px;margin-right:5px;}
table.combar { margin-left:5px;margin-right:5px;margin-bottom:3px;
               border:1px solid #888888;padding:0px;background-color:#99aaee;}


td.qtybreakdown {text-align:right;padding-right:10px;}
span.bdconcept:hover {text-decoration:underline;}
span.com_br {cursor:pointer;}
span.com_br:hover {text-decoration:underline;}
div.objaltc {cursor:pointer;padding:1px;padding-left:4px;padding-right:4px;}
div.objaltc:hover {color:#ffffff;background-color:#3333aa;}

div.objaltc_share {cursor:pointer;padding:1px;padding-left:4px;padding-right:4px;background-color:#ffffff;border:1px solid #777777;margin-bottom:1px;}
div.objaltc_share:hover {color:#ffffff;background-color:#333333;}

div#popupdiv_region:hover { cursor:pointer;text-decoration:underline; }
.region_lnk { font-weight:normal;text-decoration:none;cursor:pointer; }
.region_lnk:hover { text-decoration:underline; }

span.link { cursor:pointer; }
span.link:hover { text-decoration:underline; }


.tblfrm { background-color:#ffffff;padding:2px;border-spacing:0px;border:1px outset #888888; }
.tblfrmtitle { padding:4px;border-bottom:1px solid #999999;background-color:#cccccc;color:#000000;font-weight:normal; }
.tblfrmfieldname { vertical-align:top;padding:2px;border-bottom:1px solid #999999;border-right:1px solid #999999;background-color:#ffffff;color:#000000; }
.tblfrmfieldvalue { vertical-align:top;padding:2px;border-bottom:1px solid #999999;background-color:#ffffff;color:#000000; }
.tblfrmbuttons { text-align:right;padding-top:2px;background-color:#ffffff;color:#000000; }

.fkey { background-color:#dddddd;text-align:right;padding:4px; }
.fval { background-color:#ffffee;padding:4px;border-top:1px solid #ddddaa; }


.tbllist { background-color:#ffffff;padding:2px;border-spacing:0px;border:1px outset #888888; }
.tbllisttitle { padding:2px;border-bottom:1px solid #999999;background-color:#ffffbb;color:#000000;font-weight:normal; }
.tbllistrow { vertical-align:top;padding:2px;border-bottom:1px solid #999999;background-color:#ffffee;color:#000000; }


.celllnk { cursor:pointer; }
.celllnk:hover { background-color:#aaffaa; }

.btnxrpt { opacity:0.5;border:0px;cursor:pointer;margin:0px; }
.btnxrpt:hover { opacity:1; }

td.xtabs { color:gray;font-weight:normal;text-align:center;padding-top:4px;padding-bottom:2px;padding-left:5px;padding-right:5px;cursor:pointer;border-right:1px solid gray; }
td.xtabs_selected { color:black;font-weight:normal;text-align:center;padding-top:2px;padding-bottom:4px;padding-left:5px;padding-right:5px;cursor:default;border-right:1px solid gray; }
td.xtabs:hover { background-color:#cccccc;color:black; }

div.tabcontent { margin-top:0px;background-color:#ffffee;color:black;padding:4px;border:1px solid #999999; }

div.headline, span.headline { font-size:12px;font-weight:normal;text-decoration:underline;margin-bottom:5px;margin-top:5px; }

div.itemlist { border-bottom:1px solid #999999;padding:2px; }

table.qresult { border:1px solid #8888bb;border-right:0px;border-bottom:0px;margin:5px; }
table.qresult>thead>tr>td { font-weight:normal;background-color:#ccccff;border-right:1px solid #8888bb;border-bottom:1px solid #8888bb;padding:2px;text-align:center; }
table.qresult>tbody>tr>td { border-right:1px solid #8888bb;border-bottom:1px solid #8888bb;padding:2px;background-color:white;padding-left:4px;padding-right:4px; }

table.qform { background-color:white;border-left:1px solid #8888bb; border-bottom:1px solid #8888bb; }
table.qform>tbody>tr>td { border-right:1px solid #aaaaaa;border-top:1px solid #8888bb;padding:4px; }
table.qform>tfoot>tr>td { border-right:1px solid #8888bb;border-top:1px solid #8888bb; background-color:#aaaadd;padding:7px; }

table.ckbs td { border:0px;padding-right:10px; }

div.emptylist {border:2px solid #555555;background-color:#ccccaa;padding:10px;color:black;}

table.xtbl { width:100%;background-color:#ffffff;color:black;border-spacing:0px; }
table.xtbl>thead>tr>td { padding:4px;background-color:#ffffdd;border-right:1px solid #999999;font-weight:normal; }
table.xtbl>tbody>tr>td { padding:4px;border-top:1px solid #999999;border-right:1px solid #999999; }

table.xxfrm {border-spacing:0px;border:1px solid #dddddd;color:black;}
table.xxfrm > thead > tr > td {border-bottom:1px solid #999999;background-color:#ccccee;color:black;font-weight:normal;padding:4px;}
table.xxfrm > tbody > tr > td {border-bottom:1px solid #cccccc;background-color:#eeeeee;padding:2px;font-weight:normal;text-align:right;white-space:nowrap;}
table.xxfrm > tbody > tr > td + td {border-bottom:1px solid #cccccc;background-color:#f9f9f9;padding:3px;text-align:left;font-weight:normal;white-space:normal;}
table.xxfrm > tbody > tr > td + td + td {border-bottom:1px solid #cccccc;background-color:#eeeeee;padding:2px;font-weight:normal;text-align:right;}
table.xxfrm > tbody > tr > td + td + td + td {border-bottom:1px solid #cccccc;background-color:#f9f9f9;padding:2px;text-align:left;font-weight:normal;}
table.xxfrm > tbody > tr > td + td + td + td + td {border-bottom:1px solid #cccccc;background-color:#eeeeee;padding:2px;font-weight:normal;text-align:right;}
table.xxfrm > tbody > tr > td + td + td + td + td + td {border-bottom:1px solid #cccccc;background-color:#f9f9f9;padding:2px;text-align:left;font-weight:normal;}
table.xxfrm > tbody > tr > td > input[type=text],
table.xxfrm > tbody > tr > td > select,
table.xxfrm > tbody > tr > td > textarea { font-family:"Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura; }
table.xxfrm td.xdata {border-bottom:1px solid #cccccc;background-color:#eeeeee;padding:3px;text-align:left;font-weight:normal;}

table.patientdetailtbl {border-spacing:2px;border:1px solid #999999;color:black;margin:2px;}
table.patientdetailtbl > tbody > tr > td {border-bottom:1px solid #cccccc;background-color:#dddddd;padding:2px;font-weight:normal;text-align:right;}
table.patientdetailtbl > tbody > tr > td + td {border-bottom:1px solid #cccccc;background-color:#ffffff;padding:2px;text-align:left;font-weight:normal;}
table.patientdetailtbl > tbody > tr > td + td + td {border-bottom:1px solid #cccccc;background-color:#dddddd;padding:2px;font-weight:normal;text-align:right;}
table.patientdetailtbl > tbody > tr > td + td + td + td {border-bottom:1px solid #cccccc;background-color:#ffffff;padding:2px;text-align:left;font-weight:normal;}

table.cltab {border-spacing:4px;cursor:pointer;}
table.cltab > tbody > tr > td {border:1px solid #888888;background-color:#eeeeee;padding:4px;font-weight:normal;}
table.cltab > tbody > tr > td:hover {background-color:#ffffff;}

table.xxtbl {border-spacing:1px;border:1px solid #999999;color:black;}
table.xxtbl > tbody > tr > td {border-bottom:1px solid #cccccc;background-color:#cccccc;padding:2px;padding-left:4px;padding-right:4px;font-weight:normal;text-align:right;}
table.xxtbl > tbody > tr > td.titlex {border-bottom:1px solid #cccccc;background-color:#aaaaff;padding:2px;font-weight:normal;text-align:center;}
table.xxtbl > tbody > tr > td.timex {border-bottom:1px solid #cccccc;background-color:#cccccc;padding:2px;font-weight:normal;text-align:right;cursor:pointer;}
table.xxtbl > tbody > tr > td.timex:hover {background-color:#eeeeee;}
table.xxtbl > tbody > tr > td + td {border-bottom:1px solid #cccccc;background-color:#eeeeff;padding:2px;text-align:right;font-weight:normal;cursor:pointer;}
table.xxtbl > tbody > tr > td + td:hover {background-color:#dddddd;}
table.xxtbl > tbody > tr > td + td > input[type=text] {width:40px;text-align:right;}

table.tblbtn > tbody > tr > td { background-color:#ffffff;border:1px solid #aaaaaa;cursor:pointer; }
table.tblbtn > tbody > tr > td:hover { background-color:#dddddd; }
table.tblbtn > tbody > tr > td:active { background-color:#ccccff; }

div.select { background-color:#babaee;padding:0px;border:1px solid #666666;border-bottom:none;position:absolute;top:0px;left:0px;z-index:300;visibility:hidden; }
div.selectitemnormal { color:black;padding:4px;padding-left:10px;padding-right:10px;cursor:pointer;border-bottom:1px solid #666666;background-color:#c0c0ff; }
div.selectitemnormal:hover { color:#ffffff;background-color:#3333aa; }
div.selectitemfinal { color:black;padding:4px;padding-left:10px;padding-right:10px;cursor:pointer;border-bottom:1px solid #666666;background-color:#ffffba; }
div.selectitemfinal:hover { color:#ffffff;background-color:#aa5533; }

/*
ul {
   padding-left:8px; 
   list-style-position: inside;
}

ol {
   list-style-position: inside;
   padding-left:8px;
}


ol>li {
   padding-left: 0px;
}

ul>li {

   list-style:none;
   line-height : 15px;
   padding-left: 18px;
   padding-top: 0px;
   background-image: url(../images/bullet.png);
   background-repeat: no-repeat;
   background-position: 0px 4px;
} */

td.prod_detail {
   border:1px solid #888888;
   background-color: #dddddd;
   color:#888888;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
   text-align:center;
}

td.prod_detail:hover {
   color:#000000;
   background-color: #aaaaee;
}

td.prod_detail:active {
   color:#000000;
   background-color: #eeeeee;
}

td.prod_detail_sel {
   border:1px solid #888888;
   background-color: #dddddd;
   color:#000000;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
   text-align:center;
}

table.alkes_category {
   background-color:#ccffcc;
   border:1px solid #888888;
   margin:2px;
}

table.alkes_category>tbody>tr>td {
   border:1px solid #999999;
   vertical-align:top;
   padding:2px;
}

ul.ultab {
   margin: 0; 
   padding: 0; 
   list-style: none; 
   float: left;
   width:100%;
   border-bottom:0px solid #c1c1c1;
}

ul.ultab li {
   padding:0px;
   float:left;
   margin-right:4px;
   margin-top:3px;
   text-align:center;
   background-color:#ffffff;
   border:1px solid #cccccc;
   border-bottom:0px;
   padding-top:8px;
   padding-bottom:9px;
   -moz-border-radius:3px 3px 0 0;
}

ul.ultab li:hover {
   cursor:pointer;
   color:#0000ff;
}

ul.ultab li:hover span {
   cursor:pointer;
   color:#0000ff;
   text-decoration:underline;
}

ul.ultab li span {
   display: block; 
   padding: 0 8px; 
   line-height: 8px; 
   text-align:center;
   color:#cccccc;
}

ul.ultab li.ultabsel {
   padding:0px;
   float:left;
   border-bottom:none;
   position:relative;
   top:1px;
}

ul.ultab li.ultabsel_grey {
   padding:0px;
   float:left;
   border-bottom:none;
   position:relative;
   top:1px;
}

ul.ultab li.ultabsel_grey span {
   display: block; 
   padding: 0 1em; 
   line-height: 2.1em; 
   float: left;
   color:#000000;
}

ul.ultab li.ultabsel_greyrev {
   padding:0px;
   float:left;
   background-color:#ffffff;
   border:1px solid #999999;
   border-bottom:none;
   position:relative;
   top:6px;
   -moz-box-shadow:0px -1px 1px #bbb;
}

ul.ultab li.ultabsel_greyrev span {
   display: block; 
   padding: 0 1em; 
   line-height: 20px; 
   text-align:center;
   color:#000000;
}

table.tblordertm {border-spacing:0px;border-left:1px solid #999999; }
table.tblordertm thead tr td { border:1px solid #999999;border-left:0px;font-weight:normal;text-align:center;padding:4px;background-color:#cccccc; }
table.tblordertm tbody tr td { border:1px solid #999999;border-left:0px;border-top:0px;padding:4px;vertical-align:top;background-color:#ffffff; }

.tmplitem {padding:2px;cursor:pointer;}
.tmplitem:hover {text-decoration:underline;}

table.tbldiet>tbody>tr>td {text-align:center;border-bottom:1px solid #cccccc;padding:3px;}

table.tblreport {border-spacing:0px;width:100%;color:black;}
table.tblreport thead tr td { border:1px solid #999999;border-left:0px;font-weight:normal;text-align:center;padding:4px;background-color:#cccccc; }
table.tblreport tbody tr td { border:1px solid #999999;border-left:0px;border-top:0px;padding:4px;vertical-align:top;background-color:#ffffff; }

table.tblreportwide {border-spacing:0px;color:black;}
table.tblreportwide thead tr td { border:1px solid #999999;border-left:0px;border-top:0px;font-weight:normal;text-align:center;padding:4px;background-color:#cccccc; }
table.tblreportwide tbody tr td { border:1px solid #999999;border-left:0px;border-top:0px;padding:4px;vertical-align:top;background-color:#ffffff; }

table.inpltbl { border:none;padding:0px;margin:0px; }
table.inpltbl>tbody>tr>td { font-weight:normal;color:#555555;vertical-align:top;text-align:right; }
table.inpltbl>tbody>tr>td+td { font-weight:normal;color:black;vertical-align:top;text-align:left; }

img.percentImage {
   background: white url(../images/percentImage_back.png) top left no-repeat;
   padding: 0;
   margin: 5px 0 0 0;
   background-position: 1px 0px;
}

table.xxlist {width:100%;margin:0px;border-spacing:0px;border:1px solid #dddddd;color:#555555;}
table.xxlist > thead > tr > td {border-top:0px;border-bottom:1px solid #cccccc;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;}
table.xxlist > tbody > tr > td {border-bottom:1px solid #cccccc;background-color:#ffffff;padding:4px;font-weight:normal;border-right:0px solid #cccccc;}
table.xxlist > tbody > tr > td > input[type=text] { font-family:"Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;font-size:12px; }
table.xxlist > tfoot > tr > td {border-top:0px;border-bottom:1px solid #999999;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;}

.sb {border-bottom:1px solid #dddddd;}
.sbo {border-top:1px solid #dddddd;padding-right:0px;}

.blnk { cursor:pointer;font-weight:normal;color:#333333;text-align:center;padding:4px;border:1px solid white;}
.blnk:hover { background-color:#ffffcc;border:1px solid black; }

table.submenu {border:0px;border-spacing:0px;margin:0px;}
table.submenu > tbody > tr > td {vertical-align:top;padding:2px;padding-top:4px;}
table.submenu > tbody > tr > td+td {vertical-align:middle;padding:0px;}

div.submenu {border:0px;margin:0px;width:100%;margin-top:3px;}

table.plheader {background-color:#1b2357;color:#ffffff;border:0px solid #999999;width:100%;border-spacing:0px;margin:0px;}
table.plheader > tbody > tr > td {padding:2px;padding-left:5px;}
table.plheader > tbody > tr > td+td {padding:2px;text-align:right;}
div.behaviouritem,div.behaviouritem_empty {padding:2px;border-bottom:1px solid #999999;min-height:20px;}
div.behaviouritem_empty {text-align:center;font-style:italic;color:#999999;}
div.qa,div.qa_empty {padding:2px;border-bottom:1px solid #dddddd;}
div.qa_empty {text-align:center;font-style:italic;color:#999999;}

table.tblbhv {border:0px;border-spacing:0px;width:100%;}
table.tblbhv td {padding:2px;}
table.tblbhv td.tblbhv_btn {text-align:right;background-color:#f1f1f1;}
table.tblbhv > tbody > tr > td {text-align:center;border-right:1px solid #cccccc;}
table.tblbhv > tbody > tr > td+td {text-align:left;border:0px;padding:2px;}

div.bhtxt, div.bhq {padding:2px;}
div.bhq {background-color:#f1f1ff;margin-top:10px;}

div.bhqheader {background-color:#ccd1f6;text-align:left;padding:2px;padding-left:4px;}

table.qaitem {border:0px;border-spacing:0px;width:100%;}
table.qaitem td {padding:2px;}
table.qaitem > tbody > tr > td {text-align:center;border-right:1px solid #cccccc;}
table.qaitem > tbody > tr > td+td {text-align:left;border-right:1px solid #cccccc;padding:2px;}
table.qaitem > tbody > tr > td+td+td {text-align:left;border:0px solid #cccccc;padding:2px;}
table.qaitem td.method { border-bottom:1px solid #cccccc;background-color:#dde1ff; }

table.qaitem_edit {border:0px;border-spacing:0px;width:100%;background-color:#dddddd;}
table.qaitem_edit td {padding:2px;}
table.qaitem_edit > tbody > tr > td {text-align:center;border-right:1px solid #999999;}
table.qaitem_edit > tbody > tr > td+td {text-align:left;border-right:1px solid #999999;padding:2px;}
table.qaitem_edit > tbody > tr > td+td+td {text-align:left;border:0px solid #999999;padding:2px;}
table.qaitem_edit td.method { border-bottom:1px solid #999999;background-color:#cccccc; }

div.compgroupheader { padding:3px;background-color:#cccccc; }

div.empl {border:1px solid #999999;background-color:#eeeeee;padding:5px;color:#333333;}
div.empl table {border:0px;width:100%;border-spacing:0px;}

.xlnk { cursor:pointer;text-decoration:underline;color:#333333; }
.xlnk:hover { text-decoration:underline;color:#2222ff; }
.xlnk2 { cursor:pointer;text-decoration:underline;color:#eeeeee; }
.xlnk2:hover { text-decoration:underline;color:#ffffff; }
.proclnk { cursor:pointer;font-weight:normal; }
.proclnk:hover { text-decoration:underline; }
.ylnk { font-family: "Lucida Grande",Arial,Helvetica;cursor:pointer;font-weight:normal;color:#aaaaaa; }
.ylnk:hover { text-decoration:underline;color:#2222ff; }
.xlnkinactive { color:#999999 !important;cursor:default;text-decoration:underline; }

table.rowlist {width:100%;border:0px;border-spacing:0px;margin:0px;}
table.rowlist td {border-bottom:1px solid #999999;border-right:1px solid #999999;}

table.rowhead {background-color:#eeeeee;width:100%;border:0px;border-spacing:0px;margin:0px;font-weight:bold;}
table.rowhead td {border-bottom:1px solid #999999;border-right:1px solid #999999;}

table.assessment {border-spacing:0px;border:0px;}
table.assessment td {padding:0px;}
table.assessment div.cntr {padding:3px;}

.asscell0,
.hasscell0 {cursor:default;border-right:1px solid #cccccc;border-bottom:0px solid #bbbbbb;background-color:#ffffff;}
.asscell1,
.hasscell1 {cursor:pointer;border-right:1px solid #cccccc;border-bottom:0px solid #bbbbbb;background-color:#f0ffff;}
.asscell2 {cursor:default;border-right:1px solid #cccccc;border-bottom:0px solid #bbbbbb;background-color:#ffffff;}
.assccl {cursor:pointer;border-right:1px solid #cccccc;border-bottom:0px solid #bbbbbb;background-color:#f0f0f0;color:black;}

table.asmfrm { width:100%;border:0px solid #555555;border-spacing:0px;border-left:0px;border-top:1px solid #777;border-bottom:1px solid #777; }
table.asmfrm td { padding:1px;border-right:1px solid #bbbbbb; }
table.asmfrm tr#headfrm td { text-align:center;background-color:#acb1d6;color:#333333;font-weight:bold; }

tr.trasm_0 td {background-color:#ffffff;}
tr.trasm_1 td {background-color:#ffeeee;}
tr.trasm_2 td {background-color:#eeeeff;}

.dvempx .asscell0,
.dvempx .asscell2 {background-color:#ddddff;}
.dvempx .assccl {background-color:#ccccee;}
.dvempx .assccl:hover {color:white;background-color:#3abbcc;}
.dvempx {background-color:#ddddff;}

.d1v:hover {background-color:#ddddff;}
.d2v:hover {background-color:#ddddff;}
.d3v:hover {background-color:#ddddff;}
.d1v:hover .asscell0,
.d1v:hover .asscell2,
.d2v:hover .asscell0,
.d2v:hover .asscell2,
.d3v:hover .asscell0,
.d3v:hover .asscell2,
.d2v:hover .assccl,
.d3v:hover .assccl
 {background-color:#ddddff;}

.d2v:hover .assccl:hover,
.d3v:hover .assccl:hover
 {background-color:#3abbcc;color:white;}

table.iresult {border-spacing:0px;}
table.iresult td {padding:4px;border:1px solid #bbb;border-bottom:0px;}
table.iresult td+td {border-left:0px solid #bbb;}
table.iresult tr.irhdr td {font-weight:bold;border-bottom:0px solid #bbb;}
table.iresult tr.recap td {font-weight:bold;border-bottom:1px solid #bbb;}

table.sfrm {border-spacing:0px;color:black;}
table.sfrm > thead > tr > td {padding:4px;}
table.sfrm > tbody > tr > td {padding:2px;font-weight:normal;text-align:right;white-space:nowrap;}
table.sfrm > tbody > tr > td+td {padding:2px;font-weight:normal;text-align:left;white-space:normal;}
table.sfrm > tbody > tr > td+td+td {padding:2px;font-weight:normal;text-align:right;}
table.sfrm > tbody > tr > td+td+td+td {padding:2px;font-weight:normal;text-align:left;}

table.asrdtl {border-spacing:0px;color:#777;border:1px solid #ddd;}
table.asrdtl > thead > tr > td {background-color:#eeeeff;text-align:center;padding:4px;font-weight:bold;}
table.asrdtl > tbody > tr > td {border-top:1px solid #ddd;padding:2px;font-weight:normal;text-align:left;}
table.asrdtl > tbody > tr > td+td {border-left:1px solid #ddd;padding:2px;font-weight:normal;text-align:center;}
table.asrdtl > tbody > tr > td+td+td {border-left:1px solid #ddd;padding:2px;font-weight:normal;text-align:center;}

table.ilist {margin:0px;border-spacing:0px;}

table.diagram {border-spacing:0px;border:0px solid #dddddd;color:#555555;}
table.diagram > thead > tr > td {border-top:0px;border-bottom:1px solid #cccccc;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;}
table.diagram > tbody > tr > td {cursor:default;border-bottom:1px solid #cccccc;text-align:left;background-color:#ffffff;padding:4px;font-weight:normal;border-right:1px solid #cccccc;border-left:1px solid #cccccc;}
table.diagram > tbody > tr > td+td {border-left:0px solid #cccccc;cursor:default;}
table.diagram > tfoot > tr > td {border-top:0px;border:0px solid #999999;;color:black;font-weight:normal;padding:4px;}

table.compdict {border-spacing:0px;border:0px solid #dddddd;color:#555555;}
table.compdict > thead > tr > td {border-top:0px;border-bottom:1px solid #cccccc;background-color:#eeeeee;color:black;font-weight:bold;padding:4px;}
table.compdict > tbody > tr > td {cursor:default;border-bottom:1px solid #cccccc;text-align:left;background-color:#ffffff;padding:4px;font-weight:normal;border-right:1px solid #cccccc;border-left:1px solid #cccccc;}
table.compdict > tbody > tr > td+td {border-left:0px solid #cccccc;cursor:default;}
table.compdict > tfoot > tr > td {border-top:0px;border:0px solid #999999;;color:black;font-weight:normal;padding:4px;}

div.a360 {cursor:default;}
div.a360:hover {background-color:#ddd;}

td.tab_company_sel {text-align:center;cursor:pointer;background-color:#3b4397;color:#fff;font-weight:bold;}
td.tab_company {text-align:center;cursor:pointer;background-color:#bbbbdd;color:#fff;font-weight:bold;}
td.tab_company:hover {background-color:#bbbbff;}

table.comp_profile {border-spacing:0px;}
table.comp_profile > tbody > tr > td {padding:4px;}
td.tdcomp {cursor:default;}
td.tdcomp:hover {background-color:#3b4367;color:#ffffff;}
/*
td.tdcomp:hover {background-color:#25b4c9;color:white;}
*/

.lang {background-color:transparent;cursor:pointer;}
.lang:hover {background-color:#ddd;}


div.cb {cursor:pointer;}
div.cb:hover {background-color:#eee;color:#333;}

img.cb {cursor:pointer;opacity:0.6;}
img.cb:hover {opacity:1;}

input[type=button].sbtn { 
   font-size:0.9em;
   padding:0px;
   cursor:pointer;
   font-weight:normal;
   background-color:#ddd;
}

input[type=button].sbtn:hover {
   background-color:#bbbbbb;
}

input[type=button].sbtn:active {
   background-color:#eeeeee;
}

.xfocus {position:fixed;top:0;left:0;bottom:0;right:0;}
.xfocus_bg0 {position:absolute;top:0;bottom:0;left:50px;right:50px;top:100px;bottom:100px;margin:auto;background-color:#000;opacity:0.5;z-index:10000;-moz-border-radius:10px;}
.xfocus_bg1 {z-index:10001;opacity:1;color:#fff;}
.xfocus_frame  {position:absolute;top:100px;bottom:100px;left:50%;width:800px;margin:auto;margin-left:-400px;border:0px solid #fff;padding:7px;opacity:1;-moz-border-radius:10px;}
.xfocus_iframe {border:1px solid #bbb;-moz-border-radius:7px;padding:5px;width:100%;height:100%;}
.xfocus_dvbtn  {position:absolute;height:30px;bottom:15px;left:50%;width:800px;margin:auto;margin-left:-400px;border:0px solid #fff;padding:0px;opacity:1;text-align:center;}
.xfocus_pn {height:19px;width:19px;overflow:hidden;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAc0lEQVR42rXU2wmAMAwF0G5qNstmOkokLYoW87rF+9k2h5JAmoiQjHADonV3vbzDINSjBxsCzpA610UJNKHHgxQYQlkwDUVgGXLAHYIcEIOcHjEKkfEzWoUOCPyArGkSBDk9JAhKg1koBKuQC/61z5Y37QmYBnKZoFdMrgAAAABJRU5ErkJggg==") -0px -0px  no-repeat;width:17px;height:17px;float:right;position:relative;top:10px;right:20px;padding:4px;background-position:center center;cursor:pointer;}
.xfocus_pn:hover{padding:3px;border:1px solid white;-moz-border-radius:3px;}
input.xfocus_btn {background-color:transparent;color:white;border:1px solid #fff;font-size:1.1em;font-weight:bold;-moz-border-radius:5px;padding:3px;padding-left:20px;padding-right:20px;}
input.xfocus_btn:hover {border:1px solid #fff;background-color:#888;color:#000;}
input.xfocus_btn:active {background-color:#aac;}

table.tblidpcom {border-spacing:0px;width:100%;color:black;}
table.tblidpcom thead tr td { border:1px solid #999999;border-left:0px;font-weight:normal;text-align:center;padding:4px;background-color:#eee; }
table.tblidpcom tbody tr td { border:1px solid #999999;border-left:0px;border-top:0px;padding:4px;vertical-align:top; }

table.tblidpapprove1 {border-spacing:0px;width:100%;color:black;}
table.tblidpapprove1 thead tr td { border:1px solid #999999;border-left:0px;font-weight:normal;text-align:center;padding:4px;background-color:#eee; }
table.tblidpapprove1 tbody tr td { border:1px solid #999999;border-left:0px;border-top:0px;padding:4px;vertical-align:top;cursor:pointer; }
table.tblidpapprove1 tbody tr td:hover { background-color:#efefef; }

tr.trasmresult td { cursor:default; }
tr.trasmresult:hover td { background-color:transparent; }
tr.trasmresult:hover td+td { background-color:#ddf; }
tr.trasmresult:hover td+td+td { background-color:transparent; }
tr.trasmresult:hover td+td+td+td { background-color:#ddf; }
tr.trasmresult:hover td+td+td+td+td { background-color:#ddf; }
tr.trasmresult:hover td+td+td+td+td+td { background-color:transparent; }
tr.trasmresult:hover td+td+td+td+td+td+td { background-color:#ddf; }
tr.trasmresult:hover td+td+td+td+td+td+td+td { background-color:transparent; }
tr.trasmresult:hover td+td+td+td+td+td+td+td+td { background-color:#ddf; }

.motd_box { -moz-border-radius:5px;background-color:#fff;padding:5px;text-align:center;border:1px solid #ddd;margin-bottom:10px; }
.motd_box:hover { background-color:#eee;border-color:#999; }

.orgbox { cursor:pointer; }
.orgbox:hover {background-color:#eee;}

table.yylist {width:100%;margin:0px;border-spacing:0px;border:1px solid #dddddd;color:#555555;}
table.yylist > thead > tr > td {border-top:0px;border-bottom:1px solid #cccccc;background-color:#ddd;color:black;font-weight:normal;padding:4px;}
table.yylist > tbody > tr > td {vertical-align:top;border-bottom:1px solid #cccccc;background-color:#ffffff;padding:4px;font-weight:normal;border-right:0px solid #cccccc;}
table.yylist > tbody > tr > td > input[type=text] { font-family:"Lucida Grande",Arial,Helvetica,Verdana,Tahoma,"Gill Sans",Futura;font-size:12px; }
table.yylist > tfoot > tr > td {border-top:0px;border-bottom:1px solid #999999;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;}

table.tsgs {width:100%;margin:0px;border-spacing:0px;border:1px solid #dddddd;color:#555555;}
table.tsgs > thead > tr > td {border-top:0px;border-bottom:1px solid #cccccc;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;text-align:center;}
table.tsgs > thead > tr > td + td {border-left:1px solid #ccc;}
table.tsgs > tbody > tr > td {border-bottom:1px solid #cccccc;background-color:#ffffff;padding:4px;font-weight:normal;border-right:0px solid #cccccc;text-align:center;}
table.tsgs > tbody > tr > td + td {border-left:1px solid #ccc;}
table.tsgs > tfoot > tr > td {border-top:0px;border-bottom:1px solid #999999;background-color:#eeeeee;color:black;font-weight:normal;padding:4px;}

.kpi_empty {background-color:#eee;color:black;cursor:pointer;}
.kpi_empty:hover {background-color:#ccc;}

input[type=button].ssbtn { 
   font-size:0.8em;
   padding:0px;
   cursor:pointer;
   font-weight:bold;
   background-color:#ddd;
   border:1px solid #777;
   -moz-border-radius:3px;
}

input[type=button].ssbtn:hover {
   background-color:#eee;
   color:#000;
}

input[type=button].ssbtn:active {
   background-color:#fff;
}

.tbobjective {background-color:#eeeeee;cursor:pointer;}
.tbobjective:hover {background-color:#eeeeff;}

.selper { border:1px solid #bbb;font-weight:bold;text-align:center;background-color:#fff;color:#888;cursor:pointer; }
.selper:hover { background-color:#ddf;color:black; }
.selper_selected { border:1px solid #bbb;font-weight:bold;text-align:center;background-color:#eee;color:#000;cursor:default; }

div.orgsel {border:1px solid #999999;background-color:#eeeeee;padding:5px;color:#333333;}
div.orgsel table {border:0px;width:100%;border-spacing:0px;}

.zlnk { cursor:pointer;text-decoration:none;color:#333333; }
.zlnk:hover { text-decoration:underline;color:#0000ff; }

.tdlnk { cursor:pointer; }
.tdlnk:hover { background-color:#ccccff; }

.apblock_empty { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }

.apblock_new { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblock_new div { background-color:#ccc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblock_return { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblock_return div { background-color:#ccc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblock_approval1 { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblock_approval1 div { background-color:#ccc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblock_implementation { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblock_implementation div { background-color:#ccf;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblockpica_new { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblockpica_new div { background-color:#fcc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblockpica_return { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblockpica_return div { background-color:#fcc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblockpica_approval1 { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblockpica_approval1 div { background-color:#fcc;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblockpica_implementation { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblockpica_implementation div { background-color:#fc9;-moz-border-radius:3px;-moz-box-shadow:1px 1px 2px #000;border:0; }

.apblockreport { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.apblockreportpica { cursor:default;background-color:transparent;padding:2px;border-top:1px solid transparent;border-bottom:1px solid transparent;background-color:#fc9; }

.aptext { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.aptextpica { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent;background-color:#fc9; }

.aptgtext { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent; }
.aptgtextpica { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent;background-color:#fc9; }
.appicatext { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent;color:red; }
.appicatextpica { cursor:default;padding:2px;color:black;width:900px;border-top:1px solid transparent;border-bottom:1px solid transparent;color:red;background-color:#fc9; }

table.aptooltip { border-spacing:0px;font-size:0.9em;max-width:300px; }
table.aptooltip > tbody > tr > td { text-align:right;font-weight:bold;color:black;vertical-align:top;white-space:nowrap; }
table.aptooltip > tbody > tr > td+td { text-align:left;font-weight:normal;vertical-align:top;white-space:normal }

.empty { color:#888;font-style:italic; }
